<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>Selo Birigui</title>
</head>
<body>
    <header>
            <img id="imglogo" src="/static/img/channels4_profile-removebg-preview.png" alt="">
            <nav>
                <ul>
                    <li>
                        <a href="http://www.birigui.sp.gov.br/birigui/home.php" class="animated-button">Prefeitura de Birigui</a>
                    </li>
                </ul>
            </nav>
    </header>
    <main>
        <div id="divespaco">
        </div>
        <div class="banner">
        </div>

        <section class="td">

            <div class="container">
                <div class="image" style="padding: 0;">
                    <img src="/static/img/sobre%20a%20cidade-1.png" alt="" width="200000000
                    px" height="">
                </div>
            </div>

            <div id="container2" class="container">
                <div class="image" style="padding: 0;">
                    <img src="/static/img/tradição%20e%20inovação-2.png" alt="" width="200000000
                    px" height="">
                </div>
            </div>

            <div class="container">
                <div class="image" style="padding: 0;">
                    <img src="/static/img/reconhecimento-3.png" alt="" width="200000000
                    px" height="">
                </div>
                <div class="imagens">
                    <img class="bola" src="/static/img/inpi.png" alt="">
                    <img src="/static/img/selo%20sinbi.png" alt="">
                </div>
            </div>

            <div class="container">
                <div class="image" style="padding: 0;">
                    <img src="/static/img/Indicação%20geografica-4.png" alt="" width="200000000
                    px" height="">
                </div>
            </div>

            <div class="container">
                <div class="image" style="padding: 0;">
                    <img src="/static/img/selo-5.png" alt="" width="200000000
                    px" height="">
                </div>
                <div id="arruma">
                    <div class="imagens" id="imagens2">
                        <div id="gap">
                            <img src="/static/img/sel3.png" alt="">
                            <img src="/static/img/sel4.png" alt="">
                            <img src="/static/img/sel5.png" alt="">
                        </div>
                        <div id="arruma" class="gap">
                            <img src="/static/img/sel1.png" alt="">
                            <img src="/static/img/sel2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="image" style="padding: 0;">
                <img src="/static/img/Volte%20sempre!!!.png" alt="" width="200000000
                px" height="">
            </div>
        </div>
    </footer>
</body>
</html>